# Node modules
node_modules/

# Archivos de entorno
.env

# Archivos de base de datos SQLite (local)
*.sqlite
*.sqlite-journal

# Logs
*.log

# Salida de build
dist/
build/

# Archivos temporales del sistema
.DS_Store
Thumbs.db